body{
    
    align-items:center;
    
    background-color: rgb(74, 3, 109);
    color:antiquewhite;
    font-family: 'Segoe print', Tahoma, Verdana, sans-serif;
}
.body_container{
    border: antiquewhite 2px solid;
    border-radius: 20px;
    margin: auto;
    margin-top:100px;
    width: 60%;
    display: flex inline;
    flex-direction: column;
}
@media only screen and (max-width: 425px){
    .body_container{
        
        width: 100;
    }
}
.head{
    text-align: center;
    width: auto;
    margin: auto;
    border: 2px solid black;
}
.container{
    text-align: center;
    width: auto;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.233);
    padding:15px;
}
.child{
    font-size: 20px;
    border: antiquewhite 2px solid;
    margin-top: -25px;
    text-align: center;
    width: auto;
    border: 2px solid black;
}
.new_child{
    padding:15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: auto;
    border: 2px solid black;
}

.btncon{
    text-align: center;
    width: auto;
    margin: auto;
    border: 2px solid black;
}
.input{
    font-size:20px;
    border: 1.5px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:1px;
    border-color: antiquewhite;
    height: 50px;
    width: 70%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}
input:focus{
    outline: 0px;
    outline: rgba(0, 163, 0, 0.671) 3px solid;
}
.save_btn{
    font-family: 'Segoe print', Tahoma, Verdana, sans-serif;
    border: antiquewhite 2px solid;
    background-color: rgba(0, 0, 5, 0.678);
    color: antiquewhite;
    font-size:17px;
    height: 55px;
    width: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
    
}
.btn{
    font-family: 'Segoe print', Tahoma, Verdana, sans-serif;
    border: antiquewhite 2px solid;
    border-radius:10px;
    background-color: rgba(0, 0, 5, 0.678);
    color: antiquewhite;
    font-size:17px;
    height: 30px;
    width: auto;
    margin-bottom: 15px;
    
}
.new_memo_btn{
    font-family: 'Segoe print', Tahoma, Verdana, sans-serif;
    border: antiquewhite 2px solid;
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.788);
    color: antiquewhite;
    font-size:17px;
    height: 30px;
    width: auto;
    margin-bottom: 15px;
    margin-right: 15px;
}
.delt_btn{
    font-family: 'Segoe print',  Tahoma, Verdana, sans-serif;
    border: antiquewhite 2px solid;
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.548);
    color: antiquewhite;
    font-size:17px;
    height: 30px;
    width: auto;
    margin-bottom: 15px;
    margin-left: 15px;
}
.save_btn:hover{
           background-color: rgba(81, 255, 0, 0.992);
           transition: ease-in-out 0.3s;
           color:black;
}
.new_memo_btn:hover{
    background-color: rgba(0, 255, 34, 0.596);
    transition:ease 0.3s;
}
.delt_btn:hover{
    background-color: rgba(255, 0, 0, 0.884);
    transition: ease-in-out 0.3s;
}
.out{
    align: center;
    font-size: 25px;
    
}
.table_container{
    width: 100%;
    overflow-x: auto;
    
}
table{
    border-collapse:collapse;
    border: 1px solid antiquewhite;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
   
}
tr{
 
}
th,td{
   min-width: 100px;
    padding: 5px;
    border: 1px solid;
    text-align: center;
}
i{
    
   
}